html,
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #e4e3ea;
    --paper-accent: #d14b6a;
}

main {
    margin: 1em auto;
    max-width: 750px;
    width: 96%;
}

button,
input {
    font-size: 1em;
}

section {
    margin-bottom: 1em;
}

input.invalid {
    border: 2px solid var(--paper-accent);
}

.addForm {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1em 0;
    margin-bottom: 1.5em;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 0;
    flex-grow: 1;
    margin-right: 1em;
}

.slot label {
    margin-bottom: .4em;
}

.slot input {
    width: 100%;
}

.subscriberListSection {
    position: relative;
}

.subscriberListSection .toolbar {
    position: absolute;
    top: -1em;
    right: 1em;
    font-weight: bold;
    font-size: .8em;
}

.showingAll .showAll,
.showingActives .showActives,
.showingActives .inactive {
    display: none;
}

.toolbar .paper {
    margin-left: 1em;
}

ul.collection {
    padding-left: 0;
}

li.item {
    padding: .5em;
    border-bottom: 1px solid #bbb;
}

li.item:last-child {
    border-bottom: 0;
}

.buttonGroup,
.item,
.left,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item .movable.paper {
    font-size: .8em;
}

.item .name {
    min-width: 200px;
}

a {
    color: var(--paper-accent)
}
.accent a {
    color: var(--paper-background);
}

.item.inactive .left,
.item.inactive .right {
    pointer-events: none;
    opacity: .35;
}

.list-count {
    color: #999;
    margin-right: .5em;
}

footer {
    margin: 2em 0;
    text-align: left;
}

@media only screen and (max-width: 650px) {
    .addForm {
        flex-direction: column;
    }

    .slot {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }

    .subscriberListSection .name {
        margin-bottom: .4em;
    }

    .subscriberListSection .item .left {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 360px) {
    .item {
        flex-direction: column;
        align-items: flex-start;
    }
    .item .left {
        margin-bottom: .6em;
    }
}