<!doctype html>

<html lang="en">
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Name }} | Lovecroft</title>
<link rel="stylesheet" href="/static/css/paper.css">
<link rel="stylesheet" href="/static/css/main.css">

<main>
    <section class="accent paper">
        <h1>Lovecroft</h1>
        <p>
            A mailing list manager by
            <a href="https://thesephist.com" target="_blank">Linus</a>
        </p>
    </section>
    <section class="buttonGroup">
        <a href="/admin/directory" class="movable paper paper-border-left">
            Directory &rarr;
        </a>
    </section>
    <section class="paper">
        <p>
            Lovecroft powers mailing lists and newsletters behind
            <a href="https://thesephist.com">thesephist.com</a>
            and
            <a href="https://atypicalpress.com">Atypical Press</a>
        </p>
        <p>
            It's open source under the permissive MIT License.
            <a href="https://github.com/thesephist/lovecroft">See it on GitHub.</a>
        </p>
    </section>
</main>